#app {
  background-color: aqua;
  border: 1px solid red;
  margin: 5px;
}
#app span {
  color: #ce2a2a;
}
.main .out {
  height: 400px;
  width: 400px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .out .inner {
  height: 200px;
  width: 200px;
  padding: 0 auto;
  background-color: bisque;
}
